@model COMP003B.SP25.FinalProject.OvalleR.Models.Service

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceType)
        </dd>
    </dl>
</div>

<div class="col-md-4">
    <h4>
        <ul>
            @foreach (Car car in ViewBag.Cars)
            { 
            <li>@car.OwnerName</li>
            }
        </ul>
    </h4>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
